/* navigation*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: brown;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
a {
  text-decoration: none;
  color: darkorange;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25;
}
