body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
}
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
}
:root {
  --menu-speed: 0.75s;
}

/* navigation*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1e90ff;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
  border-radius: 10px;
}
nav a:hover {
  color: rgb(97, 202, 206);
  transform: rotate(3deg);
}
a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: all 0.3s ease-out;
  padding: 5px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 15px;
}
.logo {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;
}
.nav-links .current {
  font-weight: bold;
  font-size: 17px;
}

/*banner pics*/

.greet {
  padding: 200px 150px;
  background: url("../SemesterProject1/images/exhibition-1863344_1920.jpg")
    no-repeat center;
  background-size: 100% auto;
}
.greet-ex {
  padding: 200px 150px;
  background: url("../SemesterProject1/images/celso-405219.jpg") no-repeat
    center;
  background-size: 100% auto;
}
.greet-events {
  padding: 200px 150px;
  background: url("../SemesterProject1/images/Wide_lightning.jpg") no-repeat
    center;
  background-size: 100% auto;
}
/* top main */
.explore-top {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}
.explore-top h1 {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
  padding: 5px;
  color: #1e90ff;
}
.explore-top p {
  padding: 5px;
  font-size: 1.05rem;
  line-height: 1.6;
}

/*layout*/

.explore {
  background-color: rgb(235, 235, 235);
  padding: 50px 35px;
}
.explore-head {
  text-align: center;
}
.inner-explore {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
.inner-explore h3 {
  color: #1e90ff;
}
.inner-explore h4 {
  color: #1e90ff;
}
.inner-visit {
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.inner-visit h3 {
  color: #1e90ff;
}
.start-btn {
  background-color: #1e90ff;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 8px;
  font-size: 1.05rem;
  display: inline-block;
  font-weight: bold;
}
.btn-container {
  text-align: center;
  margin-top: 55px;
}
.start-btn:hover {
  color: rgb(97, 202, 206);
  letter-spacing: 6px;
}
.explore-btn-cont {
  text-align: center;
}

/*footer*/
footer {
  align-items: center;
  background-color: #1e90ff;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

/*Tablet/mobile */
@media (min-width: 1175px) {
  .menu-wrap {
    display: none;
  }
}

@media (max-width: 1175px) {
  .nav-links {
    display: none;
  }

  .logo {
    letter-spacing: 2px;
    font-size: 15px;
    padding: 15px;
  }

  .inner-explore p {
    width: fit-content;
  }
  img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }

  /* burger menu */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: #1e90ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
  }

  /*hamburgerline*/

  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  /* top and bottom lines*/
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  /* move lines down */

  .menu-wrap .hamburger > div:after {
    top: 10px;
  }

  /*toggler animate*/

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  /* turn line into X*/

  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /*rotate hover checked*/

  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  /*Show menu*/

  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }

  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0, 4s ease;
  }

  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: #1e90ff;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4 ease;
  }

  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    letter-spacing: 5px;
  }
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
}
