:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
}

/*

@media (max-width: 800px) {
  .logo {
    letter-spacing: 2px;
    font-size: 15px;
    padding: 15px;
  }
}


*/
.contact-wrap {
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}
.contact-form {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0, 8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0, 13);
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}
.input-fields .input,
.msg {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 10px;
}
.msg textarea {
  height: 212px;
}
